.Searchfield {
  width: 300px;
  padding-right: 10px;
}

.PagingButtons {
  display: block;
  text-align: center;
}

.PagingButtonsDistance {
  padding-left: 20px;
  padding-right: 20px;
}

.SearchBox {
  width: 300px
}
